.profile-heading {

}

.profile-container {
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}

.profile-form-container {
    width: 50%;
    margin: auto;

}

.avatar-font {
    margin: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    
}